#quitter_ordi
{
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(168, 18, 18, 0.849);
    border:3px solid rgb(68, 0, 0);
    color: white;
    text-decoration: none;
    transition: 0.5s all;
}
#quitter_ordi:hover
{
    transition: 0.5s all;
    color: rgba(168, 18, 18, 0.849);
    background-color: white;
}
#info_simulation
{
    padding: 10px;
    position: absolute;
    top: 70px;
    left: 20px;
    background-color: rgba(247, 135, 8, 0.849);
    border:3px solid rgb(163, 65, 0);
    color: white;
}
/* Global default styles. */
* {
    /* Zero out all padding and margins to start with for better
     * cross-browser control. */
    padding: 0;
    margin: 0;
}

body, input, select, textarea, .inProgress {
    font-family: Arial,"DejaVu Sans",sans-serif;
}
body {
    font-size: 75%;
    background: #fff;
    color: #000;
}

p {
    margin-bottom: 10px;
}

img, .img, .img:active, .img:hover, .img:visited, .image {
    border: none;
    vertical-align: middle;
    background: transparent;
}
/* This must be declared seperately or IE will ignore all of the selectors. */


a {
    color: #36525d;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.selected {
    background: #bbcbff;
}
.selected-over {
    background: #cef;
}


/* Alternating styles. */
.striped, .rowEven {
    background-color: #eee;
}
.rowOdd {
    background-color: #ddd;
}
.striped.hover .rowEven:hover, .striped.hover .rowOdd:hover {
    background: #bbcbff;
}

.smallheader {
    font-size: 100%;
    font-weight: bold;
    padding: 2px;
}
.header .smallheader {
    font-size: 80%;
}
.header .smallheader a.smallheader {
    font-size: 100%;
}
small, .small {
    font-size: 80%;
}
.control {
    color: #000;
    background: #ebeff0;
    padding: 5px;
}
.accessKey {
    text-decoration: underline;
}
.text {
    color: #000;
    background: #fff;
}

/* Form styles. */
.horde-form table {
    width: 100%;
    padding: 2px;
    border-collapse: collapse;
    border-spacing: 0;
}
.horde-form tr {
    vertical-align: top;
}
.horde-form td {
    padding-bottom: 5px;
}
.horde-form-buttons {
    padding: 10px;
    margin: 10px 0;
    background-color: #ebeff0;
}
.horde-form .horde-form-buttons {
    padding-left: 15%;
}
.horde-form td.horde-form-label {
    padding: 5px 9px 0 0;
    text-align: right;
}
.horde-form-error {
    color: #f00;
}
.horde-form-field-description {
    color: #666;
    font-size: 70%;
}
input, select, textarea {
    font-size: 100%;
    font-weight: normal;
    background-color: #ebeff0;
    border: 1px solid #d0d0d0;
}
input, select {
    min-height: 20px;
}
input, option {
    padding: 1px 5px;
}
select {
    padding: 2px 0 0 2px;
}
input:focus, textarea:focus, select:focus {
    background-color: #fff;
    border-color: #000;
}
input[type="submit"], input[type="button"], input[type="reset"],
a.horde-button, a.horde-default, a.horde-create, a.horde-delete {
    background-image: url("graphics/button.png");
    background-repeat: repeat-x;
    border: 1px solid #d0d0d0;
    padding: 4px 13px;
    color: #000;
    cursor: pointer;
}
a.horde-button, a.horde-default, a.horde-create, a.horde-delete, a.horde-cancel {
    display: inline-block;
    padding: 4px 13px;
    font-weight: normal;
    text-decoration: none;
    color: #000;
}
input.horde-default, a.horde-default {
    background-image: url("graphics/button-default.png");
    border-color: #2a2a2a;
    color: #fff;
}
input.horde-create, a.horde-create {
    background-image: url("graphics/sidebar-new-bg.png");
    border-color: #70973B;
    color: #fff;
}
input.horde-delete, a.horde-delete {
    background-image: url("graphics/button-delete.png");
    border-color: #d38847;
}
input.horde-cancel {
    background: transparent;
    border-style: none;
    color: #496f7e;
    padding: 3px;
    text-decoration: underline;
}
a.horde-cancel {
    color: #496f7e;
    padding: 4px 3px;
    text-decoration: underline;
}
input.horde-cancel:hover, a.horde-cancel:hover {
    text-decoration: none;
}
form[action^="https://"] input[type="submit"].horde-default {
    background-image: url("graphics/locked-inv.png"), url("graphics/button-default.png");
    background-position: 95% center, left top;
    background-repeat: no-repeat, repeat-x;
    padding: 2px 33px 2px 4px;
}
input[disabled], input[disabled]:hover, textarea[disabled], option[disabled] {
    background-color: #e9e9e9;
    color: #a8a8a8;
}
.checkbox, .radio {
    border: 0;
    height: 14px;
    width: 14px;
    background: transparent;
}

pre, code, .fixed, table.lineNumbered * {
    font-family: Menlo,Consolas,"Lucida Console","DejaVu Sans Mono",monospace;
}


/* Modal forms */
body.modal-form {
    background-color: #e9e9e9;
}
div.modal-form {
    font-size: 150%;
    width: 20em;
    margin: 5em auto;

    background-color: #fff;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    -moz-box-shadow: 0 0 2em #ccc;
    -webkit-box-shadow: 0 0 2em #ccc;
    box-shadow: 0 0 2em #ccc;
}
.horde-form-header {
    margin-bottom: 1em;
    border-bottom: thin dashed #ccc;
}
div.modal-form .notices {
    padding-top: 1em;
    font-size: 75%;
}
div.modal-form .notices li:first-child {
    border-top: 1px solid #d0d0d0;
}
div.modal-form form {
    padding: 1em;
}
div.modal-form label {
    font-weight: bold;
}
div.modal-form input, div.modal-form select {
    -webkit-transition-property: -webkit-box-shadow, background;
    -webkit-transition-duration: 0.25s;

    width: 18em;
    margin-bottom: .5em;
}
div.modal-form input {
    padding-left: 0.25em;
    padding-right: 0.25em;
    width: 17.5em;
}
div.modal-form .submit-button {
    display: block;
    margin: .5em auto;
    width: auto;
    color: black;
}
div.modal-form .extras {
    font-size: 75%;
    border-top: thin dashed #ccc;
    margin: .5em 0;
}

/* Main body. */
.horde-ajax {
    overflow: hidden;
}
#horde-body {
    border-bottom: 1px solid #cfcfcf;
    float: left;
    position: relative;
    width: 100%;
}
.horde-ajax #horde-body {
    position: absolute;
    top: 56px;
    bottom: 0;
    border-bottom-width: 0;
}
#horde-contentwrapper {
    float: left;
    width: 100%;
}
#horde-content {
    padding-left: 8px;
}
.horde-no-sidebar #horde-content {
    padding-left: 0;
}
.horde-content {
    padding: 5px 5px 0;
}

/* Pager. */
.pager {
    text-align: center;
}

/* Form ghosting. */
.formGhost {
    color: #a0a0a0 !important;
    font-style: italic;
}

/* PHP Shell. */
.gutter {
    padding-right: 8px;
}



/* Session display. */
.current-sessions {
    width: 100%;
}

/* ActiveSync display */
.activesync-devices {
    width: 100%;
}

/* Print CSS. */
@media print {
    body, .header, .smallheader {
        background: #fff;
        color: #000;
    }

    a, .signature, .signature .fixed {
        color: #000;
    }

    #horde-head, #horde-sub, #horde-sidebar, #horde-slideleft, .togglequotehide, .togglequoteshow {
        display: none;
    }

    .horde-ajax #horde-body {
        top: 0;
    }

    #horde-page {
        left: 0 !important;
        padding-left: 0;
    }

    .headerbox {
        border: none;
    }

    .control, .rowEven, .rowOdd {
        background-color: #fff;
        border-bottom: thin solid #000;
    }

    .selected {
        background: #ddd;
    }

    .quoted1, .quoted2, .quoted3, .quoted4, .quoted5 {
        color: #000;
        border-left-color: #000;
    }

    #Growler, #GrowlerLog {
        display: none !important;
    }
}
/**
 * CSS corrections for Gecko.
 */

input[type="submit"], input[type="button"], input[type="reset"] {
    padding: 3px 10px;
}
input.horde-cancel {
    padding: 3px 0;
}